apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kube-prometheus-stack
  namespace: argocd
spec:
  project: default
  source:
    chart: kube-prometheus-stack
    repoURL: https://prometheus-community.github.io/helm-charts
    targetRevision: 69.3.0
    helm:
      values: |
        # --- דיאטה למיניקיוב ---
        
        # מבטלים את ה-AlertManager (חוסך המון זיכרון ו-CPU)
        alertmanager:
          enabled: false

        # מבטלים את הגרפנה המובנית של ה-AlertManager
        grafana:
          adminPassword: "admin"
          service:
            type: ClusterIP
          sidecar:
            datasources:
              enabled: true
              defaultDatasourceEnabled: true
        
        # הגדרות רזות לפרומיתאוס עצמו
        prometheus:
          prometheusSpec:
            replicas: 1
            # ביטול בקשות משאבים גבוהות שחוסמות את הפוד מלעלות
            resources:
              requests:
                memory: 256Mi
                cpu: 100m
              limits:
                memory: 1024Mi
                cpu: 500m
            # ביטול Persistent Volume ללוקאלי כדי למנוע בעיות הרשאות
            storageSpec: 
              emptyDir:
                medium: Memory
  
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true # חובה!