replicaCount: 1

image:
  repository: YOUR_DOCKERHUB_USER/k8s-monitor-workload  # <--- שנה לשם שלך!
  pullPolicy: IfNotPresent
  tag: "v1.0.0"

service:
  type: ClusterIP
  port: 80

resources: 
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 50m
    memory: 64Mi